{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Home</title>
{% endblock meta %}

{% block content %}
<section class="hero px-6 py-10 lg:py-20 bg-purple-500">
  <header class="max-w-3xl mx-auto text-center">
    <p class="mb-2 text-3xl lg:text-5xl text-white">
      Welcome to TopLite Store
    </p>
    <p class="mb-10 text-white">
      We sell wallpapers and lights for modern homes.
    </p>
    <a href="#" class="inline-block px-8 py-4 rounded-lg bg-white text-purple-500 hover:bg-gray-200">Start shopping</a>
  </header>
</section>
<section class="max-w-7xl mx-auto px-6 py-2 xl:px-0">
  <div class="products flex items-center flex-wrap">
    <div class="w-full md:w-1/3 xl-1/4 p-6">
      <a href="#">
        <img src="{% static 'imgs/01.jpg' %}" alt="chair imgs" class="rounded-lg hover:shadow-lg">
      </a>
      <div class="pt-3 flex items-center justify-between">
        <a href="#">Product Name</a>
        <a href="#" class="text-purple-500 hover:text-purple.800">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
          </svg>
        </a>
      </div>
      <p class="pt-1 text-gray-400">$200</p>
    </div>
    <div class="w-full md:w-1/3 xl-1/4 p-6">
      <a href="#">
        <img src="{% static 'imgs/02.jpg' %}" alt="chair imgs" class="rounded-lg hover:shadow-lg">
      </a>
      <div class="pt-3 flex items-center justify-between">
        <a href="#">Product Name</a>
        <a href="#" class="text-purple-500 hover:text-purple.800">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
          </svg>
        </a>
      </div>
      <p class="pt-1 text-gray-400">$200</p>
    </div>
    <div class="w-full md:w-1/3 xl-1/4 p-6">
      <a href="#">
        <img src="{% static 'imgs/03.jpg' %}" alt="chair imgs" class="rounded-lg hover:shadow-lg">
      </a>
      <div class="pt-3 flex items-center justify-between">
        <a href="#">Product Name</a>
        <a href="#" class="text-purple-500 hover:text-purple.800">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
          </svg>
        </a>
      </div>
      <p class="pt-1 text-gray-400">$200</p>
    </div>
    <div class="w-full md:w-1/3 xl-1/4 p-6">
      <a href="#">
        <img src="{% static 'imgs/04.jpg' %}" alt="chair imgs" class="rounded-lg hover:shadow-lg">
      </a>
      <div class="pt-3 flex items-center justify-between">
        <a href="#">Product Name</a>
        <a href="#" class="text-purple-500 hover:text-purple.800">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
          </svg>
        </a>
      </div>
      <p class="pt-1 text-gray-400">$200</p>
    </div>
    <div class="w-full md:w-1/3 xl-1/4 p-6">
      <a href="#">
        <img src="{% static 'imgs/05.jpg' %}" alt="chair imgs" class="rounded-lg hover:shadow-lg">
      </a>
      <div class="pt-3 flex items-center justify-between">
        <a href="#">Product Name</a>
        <a href="#" class="text-purple-500 hover:text-purple.800">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
          </svg>
        </a>
      </div>
      <p class="pt-1 text-gray-400">$200</p>
    </div>
    <div class="w-full md:w-1/3 xl-1/4 p-6">
      <a href="#">
        <img src="{% static 'imgs/06.jpg' %}" alt="chair imgs" class="rounded-lg hover:shadow-lg">
      </a>
      <div class="pt-3 flex items-center justify-between">
        <a href="#">Product Name</a>
        <a href="#" class="text-purple-500 hover:text-purple.800">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
          </svg>
        </a>
      </div>
      <p class="pt-1 text-gray-400">$200</p>
    </div>
  </div>
<section>
{% endblock content %}
